@import './pokemonTypes.scss';

.homepage-container {
    h1 {
        color: #333;
        text-align: center;
    }
}

.pokemon-detail-card {
    .ant-card-head-title {
        text-align: center;
        text-transform: capitalize;
    }

    .pokemon-detail-cover {
        text-align: center;

        img {
            width: 80%;
        }

        .ant-divider {
            margin-bottom: 0;
        }
    }

    .ant-descriptions-item-label {
        font-weight: bold;
    }

    .pokemon-detail-stats {
        margin-top: 20px;
    }
    
    .stat-bar {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .stat-title {
            width: 150px;
            text-align: right;
            padding-right: 10px;
            font-size: 10px;
        }

        .stat-progress {
            flex-grow: 1;
        }

        .ant-progress-text {
            font-size: 10px;
        }
    }

    @each $type, $color in $types-colors {
        .type-tag.#{$type} {
            background-color: $color;
            color: white;
        }
    }
}
  